{{- /* URL de "editar esta página". Fonte única (toc.html e bo-pagina.html).
       Respeita editURL do front matter; senão monta a partir de params.editURL.base. */ -}}
{{- $editURL := site.Params.editURL.base | default "" -}}
{{- with .Params.editURL -}}
  {{- $editURL = . -}}
{{- else -}}
  {{- with .File -}}
    {{- $sourceDir := replace (strings.TrimPrefix .FileInfo.Meta.BaseDir .FileInfo.Meta.SourceRoot) "\\" "/" -}}
    {{- $sourceDir = strings.TrimPrefix "/content" $sourceDir -}}
    {{- $path := replace .Path "\\" "/" -}}
    {{- $editURL = urls.JoinPath $editURL $sourceDir $path -}}
  {{- end -}}
{{- end -}}
{{- return $editURL -}}
